@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 22% 13%;
    --foreground: 0 0% 100%;
    
    --card: 228 21% 11%;
    --card-foreground: 0 0% 100%;
    
    --popover: 228 21% 11%;
    --popover-foreground: 0 0% 100%;
    
    --primary: 252 80% 74%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 228 17% 25%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 228 17% 25%;
    --muted-foreground: 215 20.2% 65.1%;
    
    --accent: 252 80% 74%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 228 17% 25%;
    --input: 228 17% 25%;
    --ring: 252 80% 74%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-mono;
  }
}