@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 13% 13%;
    
    --card: 220 13% 15%;
    --card-foreground: 0 0% 98%;
    
    --popover: 220 13% 15%;
    --popover-foreground: 0 0% 98%;
    
    --primary: 252 80% 74%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 220 13% 18%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 220 13% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    
    --accent: 220 13% 18%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 25%;
    --input: 220 13% 25%;
    --ring: 252 80% 74%;
    
    --radius: 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-mono;
  }
}

@layer utilities {
  .bg-industrial-gradient {
    background: linear-gradient(to right, #ffffff, #f1f1f1);
  }
  
  .bg-industrial-accent {
    background: linear-gradient(90deg, hsla(277, 75%, 84%, 1) 0%, hsla(297, 50%, 51%, 1) 100%);
  }
}